<div *ngIf="!loading" class="row gx-5 pt-4">
  <div class="col-12 col-md-3">
    <form
      #form="ngForm"
      class="row g-2"
      (ngSubmit)="loadMembers()"
      autocomplete="off"
    >
      <div class="form-group col-12">
        <label for="">Age From</label>
        <input
          type="number"
          class="form-control"
          name="minAge"
          [(ngModel)]="userParams.minAge"
        />
      </div>

      <div class="form-group col-12">
        <label for="">Age To</label>
        <input
          type="number"
          class="form-control"
          name="maxAge"
          [(ngModel)]="userParams.maxAge"
        />
      </div>

      <div class="form-group col-12">
        <label for="">Show</label>
        <select
          class="form-control"
          name="gender"
          [(ngModel)]="userParams.gender"
        >
          <option *ngFor="let gender of genderList" [value]="gender.value">
            {{ gender.display }}
          </option>
        </select>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Apply</button>

        <button
          (click)="resetFilters()"
          type="button"
          class="btn btn-secondary ms-2"
        >
          Reset
        </button>
      </div>

      <div class="col">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary"
            name="orderBy"
            btnRadio="lastActive"
            (click)="loadMembers()"
            [(ngModel)]="userParams.orderBy"
          >
            Last Active
          </button>

          <button
            type="button"
            class="btn btn-primary"
            name="orderBy"
            btnRadio="created"
            (click)="loadMembers()"
            [(ngModel)]="userParams.orderBy"
          >
            Newest Member
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-12 col-md-9">
    <h2>{{ pagination?.totalItems }} matches</h2>

    <div class="row g-3">
      <div class="col-12 col-md-3" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4" *ngIf="pagination">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </div>
</div>
